tr {
  cursor: pointer;
}

td.priceChange{
  font-weight: bold;
  font-style: oblique;
}

td.decrease{
  color: brown;
}

td.increase{
  color: green;
}

#loading-animation{
  margin: 20pt;
}

td.id_cell{
  color: #0a58ca;
}

td.red_cell{
  color: #a52834;
  font-weight: bold;
}

td.green_cell{
  color: #0f5132;
}